extends layout

block content
    h1 About Us

    p Developers: Eugene Atha , Wes Duff , Mike Barlow
    p Product Owner Vi Phan
    p Content Gatherer: Franklin the Awesome Scott, Huy The Puny Hoang
    a(href="/home") HOME