extends layout

block content
    div(class="diet col-sm-12")
        h1 Elephant’s Anatomy
        article(class="clearfix")
                div(class="col-sm-4")
                    img(src="/images/images4.jpg" height="200")
                div(class="col-sm-8")
                    ul 
                        li Life Span- 70 years old
                        li African Elephant - 10-13 feet tall and 8,800-15,400 pounds
                        li Asian Elephant - 7-11 feet tall and 6,600–11,000 pounds
                        li Trunk - used for breathing and storing water
                        li Brain - largest of any land mammal

                        

    p.
        Life Span- 70 years old
        African Elephant - 10-13 feet tall and 8,800-15,400 pounds
        Asian Elephant - 7-11 feet tall and 6,600–11,000 pounds

    p.
        Elephant Trunk:
        An elephant trunk is both an upper lip as well as an extension of the nose with two nostrils running the whole length.  The trunk has more than 40,000 muscles in it which is more than the human body.

    p.
        The elephant uses their trunk for a variety of things.  They can hold and store four litres of water in their trunks.  They use their trunks to smell, wrestle with other elephants, bathe, store water and African Elephants have two prehensile fingers at the tip and can lift objects with them.  The Asian Elephant only has one finger and usually just uses their trunk to scoop.

    p.
        Elephant Tusks:
        Elephant tusks are very elongated incisor teeth and they do not have any canine teeth at all. Both male and female African elephants have tusks, however, only the male species of the Asian elephant has them. Tusks continue growing for most of the elephant’s life and are an age indicator – much like the elephants feet, the age of the elephant can be estimated by observing their tusks. The total length of the tusks is not apparent on the outside of the elephant, about a third of the length of the tusk lies hidden inside the elephant’s skull. Elephants are either ‘left-tusked’ or ‘right-tusked’, just like a human being might be ‘left-handed’ or ‘right-handed’. The favoured tusk is usually shorter than the other due to constant use.  An elephant uses its tusks to many many tasks just like its trunk. They use their tusks for digging, ripping bark of trees, foraging, carrying heavy objects and for resting a wary, heavy trunk on. They will also use them as weapons should they ever encounter conflict.

    p.
        Elephant Teeth:
        An elephant’s teeth are very unique in the manner in which they proceed from the back of each half jaw towards the front. The teeth follow a linear progression. As the front teeth continuously become more worn down they are slowly replaced with new teeth that give the elephant an ability to chew the coarse foods it eats particularly tree bark. The elephant has a total of 24 teeth, but only 2 are usually in use at any one time.

    p.
        Elephant Brain:
        The brain of the elephant is larger than any other land mammal and is located in the back of the skull well away from the forehead. An elephant’s brain is about four times the size of a human’s brain. Out of all the animals that have ever lived on earth, the brain of the elephant is the largest known.  The elephant is among the more intelligent animals. 