extends layout


block content
    div(class="diet col-sm-12")
        h1 Behavior
        article(class="clearfix")
                div(class="col-sm-4")
                    img(src="/images/images4.jpg" height="200")
                div(class="col-sm-8")
                    ul Social Relationships and Friendships
                        li - They recognize their family members
                        li - Males usually live alone 
                        li - Females live closely with small groups of other females and their babies

    p Social Relationships and Friendships

    p Elephants are amongst the few wild animals to form strong social bonds of companionship, friendship and family. They are capable of recognizing not only their own mothers, calves and siblings but also their grandmothers, aunts, cousins and nieces – and sometimes even fathers. They know elephants they’ve mated and interacted with in the past, and have been observed to form particular friendships with unrelated elephants.

    p These traits arise at least in part from the way that elephants live. ‘Herds’ are, at their cores, very small units – a group of three or four closely related female elephants plus their calves, who live and travel together for all their lives. Sometimes, though, these herds join up with other herds, meaning that occasionally people have stumbled across groups of a hundred or more cows and calves living, feeding, playing and travelling together. These groups almost always split back up into their constituent family units in the end, but should they come across each other again they will express recognition and affection.

    p Male elephants usually live alone, meeting up with herds when it is time to mate and then wandering off again shortly afterwards. They do sometimes form ‘bachelor herds’, however, and it’s common for a group of male calves to all leave their herd and mothers simultaneously and live together for a while before dispersing once they’re fully grown. It’s rare for a bull to travel with a matriarchal herd and it never lasts long, but it does occur occasionally.

    p It is suspected that elephants can recognise and show fondness toward their past mates, although it is uncommon for a father and his cubs to be able to recognise each other unless the father displayed atypical herding behavior after mating.