extends layout

block content
	div(class="diet col-sm-12")
		h1 Communication
		article(class="clearfix")
			div(class="col-sm-4")
				img(src="/images/mating/Mating Pic1.jpg" height="200")
			div(class="col-sm-8")
				ul
					li They talk using their senses - hearing, smell, vision and touch
					li They also talk by rubbing their bodies with each other
		p Like all highly social mammals elephants have a well-developed system of communication that makes use of all of their senses - hearing, smell, vision and touch - including an exceptional ability to detect vibrations.
		p Acoustic communication takes a look at sound production and hearing in elephants; chemical communication explains how elephants use various secretions and their acute sense of smell to communicate; visual communication looks at how elephants make use of postures and displays and their sense of sight in communication; tactile communication describes how elephants make use of their sense of touch to communicate.
		p At one end of the spectrum elephants communicate by rubbing their bodies against one another, at the other end they may respond by moving toward the sounds of other elephants calling, perhaps 10 kilometers away. They convey information about their physiological (e.g. sexual/hormonal, body condition, identity) and emotional state (e.g. whether they are fearful, playful, joyful, angry, excited) as well as communicating specific "statements" about their intentions or desires. In this section we look at how elephants use the different pathways of communication and the actual mechanics of communicating.
