extends layout

block content
	div(class="diet col-sm-12")
		h1 Diet of Elephants
		article(class="clearfix")
			div(class="col-sm-4")
				img(src="/images/images4.jpg" height="200")
			div(class="col-sm-8")
				ul Diet
					li - Vegetables
					li - Fruits
					li - Grass

		p.
			Elephants eat between 149 and 169 kg (330-375 lb.) of vegetation daily.
		p.
			An African elephant can weigh as much as 16,500 pounds, making it the largest terrestrial animal.* Keeping a body that massive moving requires many football-fields-full of vegetation. It also takes huge amounts of water. Wild elephants spend most of their time either looking for food or eating it once they find it.
		p.
			Elephants use their trunks to pick up their food and then place it in their mouth. If the desired food item is too high up, the elephant will use its trunk to shake the tree or branch and to put the food down.