extends layout


block content
    h1 Habitat
    p An elephant’s main habitat is grasslands, however, they also be found in the desert of the Savannah, forest areas, where there are swamps, and everything in between.  Most elephants today in Africa live in National Parks to give them enough space to live.  Elephants don’t love this as they love to roam free.  Asian elephants inhabit grasslands, tropical evergreen forests, semi-evergreen forests, moist deciduous forests, dry deciduous forests and dry thorn forests, in addition to cultivated and secondary forests and scrublands. 
