extends layout

block content
	div(class="diet col-sm-12")
		h1 Habitat
		article(class="clearfix")
			div(class="col-sm-4")
				img(src="/images/images4.jpg" class="img-responsive")
			div(class="col-sm-8")
				ul
					li Desert of the Savannah
					li Forest areas
					li Swamps

		p An elephant’s main habitat is grasslands, however, they also be found in the desert of the Savannah, forest areas, where there are swamps, and everything in between.  Most elephants today in Africa live in National Parks to give them enough space to live.  Elephants don’t love this as they love to roam free.  Asian elephants inhabit grasslands, tropical evergreen forests, semi-evergreen forests, moist deciduous forests, dry deciduous forests and dry thorn forests, in addition to cultivated and secondary forests and scrublands. 
