extends layout


block content
	div(class="imageGallery")
		h1 Image Gallery
		ul
			li
				a(href="/images/images_1.jpg")
					img(width="250px" src="/images/images_1.jpg" alt="") 
					#title Elephants
			li
				a(href="/images/Image2.jpg")
					img(width="250px" src="/images/Image2.jpg" alt="") 
					#title Family
			li
				a(href="/images/images3.jpg")
					img(width="250px" src="/images/images3.jpg" alt="") 
					#title Herd
			li
				a(href="/images/images4.jpg")
					img(width="250px" src="/images/images4.jpg" alt="") 
					#title Bull

	