extends layout

block content
	h1 Elephant Overview
	p The largest land mammal on earth, the elephant weighs up to eight tons. The elephant is distinguished by its massive body, large ears and a long trunk, which has many uses ranging from using it as a hand to pick up objects, as a horn to trumpet warnings, an arm raised in greeting to a hose for drinking water or bathing. The two species of elephants—African and Asian—need extensive land to survive. Roaming in herds and consuming hundreds of pounds of plant matter in a single day, both species of elephant require extensive amounts of food, water and space.
	
	p Scientific Name- 
	ul
		li African Elephant -  Loxodonta africana
		li Asian Elephant - Elephas
			
		| Family Name - Elephantidea
		| Order Name - Proboscideali 
		| Endangered Status - Vulnerable
		| Classification - Mammal

	img(src="/images/images_1.jpg" height="300")

