extends layout

block content
	div(class="home")
		h1 Elephant Overview
		article(class="clearfix")
			div(class="col-sm-4")
				img(src="/images/Image2.jpg" class="img-responsive")
			div(class="col-sm-8")
				ul
					li - Scientific Name
						ul
							li - African Elephant -  Loxodonta africana
							li - Asian Elephant - Elephas Maximus
					li - Family Name - Elephantidea
					li - Order Name - Proboscidea
		p The largest land mammal on earth, the elephant weighs up to eight tons. The elephant is distinguished by its massive body, large ears and a long trunk, which has many uses ranging from using it as a hand to pick up objects, as a horn to trumpet warnings, an arm raised in greeting to a hose for drinking water or bathing. The two species of elephants—African and Asian—need extensive land to survive. Roaming in herds and consuming hundreds of pounds of plant matter in a single day, both species of elephant require extensive amounts of food, water and space.
		

