extends layout

block content
	div(class="diet col-sm-12")
		h1 Elephant Breeding and Reproduction
		article(class="clearfix")
			div(class="col-sm-4")
				img(src="/images/mating/Mating Pic1.jpg" height="200")
			div(class="col-sm-8")
				ul
					li They rub their bodies together and even wrap trunks
					li They do not stay together
					li The male chases the female
					li Females are ready to have babies by 14 years old and males are usually 40-50 years old
		p.
			The courtship between a male and a female elephant is short lived. They will rub their bodies on each other and even wrap trunks. The females tend to run away from the males and he will have to pursue her. This game of cat and mouse can continue for a very long time before the actual mating does occur.
		p.
			The male elephants will fan their ears more when they are ready to mate than at other times. This allows them to get their scent out there at a wider distance than before and to attract females that can become potential mates. The older males that are from 40 to 50 years of age are the most likely to breed with the females. The females are ready to breed when they are about 14 years of age.