extends layout

block content
	div(class="diet col-sm-12")
		h1 Popular Elephants 
		article(class="clearfix")
			div(class="col-sm-4")
				img(src="/images/pop/pop3.jpg" height="200")
			div(class="col-sm-8")
				ul
					li - Dumbo
					li - George of the Jungle
					li - Dr. Seuss’ Horton Hears a Who
					li - Simpsons