
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#89fffb+0,53cbf1+40,05abe0+100 */
background: #89fffb; /* Old browsers */
background: -moz-linear-gradient(top, #89fffb 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #89fffb 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #89fffb 0%,#53cbf1 40%,#05abe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89fffb', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
    height:100vh;
}
nav {
    background-color:#efefef;
    padding:10px;
    border-bottom:1px solid #ccc;
    margin-bottom:30px;
}
nav a:link, nav a:hover, nav a:visited, nav a:active {
    font-weight:bold;
    font-size: 25px;
}
li {
    list-style:none;
    display:inline-block;
}
nav li:after {
    content: " ";
    height: 25px;
    width: 2px;
    border-right: 1px solid black;
    display: inline-block;
    margin: 0 10px;
}
.wrapper {
    background-color : #efefef;
    color:black;
    min-height:80vh;
}
.imageGallery li {
    border:1px solid black;
    padding:5px;
    display:inline-flex;
    float:left;
    min-height:180px;
    width:262px;
    margin-right:15px;
}
.imageGallery li:last-child{
    margin-right:0;
}
.imageGallery li a{
    margin:auto 0;
    display: block;
}

.imageGallery ul {
    padding: 20px 0;
}

.imageGallery ul:after {
    content: '';
    height:0;
    width:0;
    clear:both;
}

a {
  color: #00B7FF;
}